extends layout

block content
  
  //- h3 #{title}
  
  div.float-right.sticky-top(style="top: 5rem")
    button.btn.btn-success.shadow-sm(onclick="save()")
      +icon('save', 'Save')
    button.btn.btn-light.border.shadow-sm(onclick="cancel()")
      | Cancel
      
  style.
    .property-selector {
      font-size: 60%;
      font-weight: normal;
      line-height: 1.5;
    }

  div#editor

  script(src=baseURL+'/module/@json-editor/json-editor/dist/jsoneditor.js')
  //- NOTE #{id} is null if we are adding; code below works in both cases
  script.
    const editor_element = document.getElementById('editor')
    const editor = new JSONEditor(editor_element, {
      schema: !{JSON.stringify(schema)},
      theme: 'bootstrap4',
      iconlib: 'fontawesome5',
      compact: true,
      display_required_only: true,
      remove_empty_properties: true,
    })
    function load () {
      axios.get('#{baseURL}/#{collection}/#{id}')
        .then(resp => {
          editor.setValue(resp.data)
        })
        .catch(err => {
          alert(err)
        })
    }
    function save () {
      axios.post('#{baseURL}/#{collection}/#{id}', editor.getValue())
        .then(resp => {
          if ('#{collection}' === 'lexemes') {
            window.location=`#{pageURL}/view/${resp.data._id}`
          }
          else if ('#{collection}' === 'wordforms') {
            window.location=`#{pageURL}/view/${resp.data.lexeme_id}`
          }
        })
        .catch(err => {
          alert(err)
        })
    }
    function cancel () {
      if ('#{collection}' === 'lexemes') {
        if ('#{id}') {
          window.location='#{pageURL}/view/#{id}'
        } else {
          window.location='#{pageURL}/search'
        }
      } else if ('#{collection}' === 'wordforms') {
        let lexeme_id = editor.getValue()['lexeme_id']
        window.location=`#{pageURL}/view/${lexeme_id}`
      }
    }

    // Startup
    if ('#{id}') {
      load()
    } else if ('#{collection}' === 'wordforms' && '#{lexeme_id}') {
      editor.getEditor('root.lexeme_id').setValue('#{lexeme_id}')
    }
