mixin icon(name, text)
  if text
    i(class="fas fa-fw fa-"+name).mr-1
    span=text
  else
    i(class="fas fa-fw fa-"+name)

mixin vue()
  //- script(src="https://cdn.jsdelivr.net/npm/vue@2.6.11")
  script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(name="viewport",content="width=device-width, initial-scale=1")
    link(rel="icon",type="image/png",href=baseURL+"/images/transfer-trans.png")
    link(rel="shortcut icon",type="image/png",href=baseURL+"/images/transfer-trans.png")

    title Ġabra API
      if title
        | : 
        =title

    //- link(rel='stylesheet', href=baseURL+'/module/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href=baseURL+'/module/@forevolve/bootstrap-dark/dist/css/toggle-bootstrap.min.css')
    link(rel='stylesheet', href=baseURL+'/module/@forevolve/bootstrap-dark/dist/css/toggle-bootstrap-dark.min.css')
    style
      include ../public/stylesheets/styles.css

    script.
      const GabraAPI = {
        'baseURL': '#{baseURL}',
        'pageURL': '#{pageURL}',
        'gabraURL': '#{gabraURL}',
      }
    script(src=baseURL+"/javascripts/base.js")
    script(src="https://kit.fontawesome.com/452e791a35.js" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js" integrity="sha256-T/f7Sju1ZfNNfBh7skWn0idlCBcI3RwdLSS4/I7NQKQ=" crossorigin="anonymous")

  body.bootstrap(role="document", onload="GabraAPI.checkLoggedIn()")
    nav.navbar.navbar-expand-lg.navbar-themed.shadow-sm.sticky-top.border-bottom.mb-4
      .container
        a.navbar-brand.text-red.mr-4(href=baseURL+'/')
          +icon('exchange-alt', 'Ġabra API')
        form.mr-auto(role='search' action=pageURL+'/search')
          .input-group
            - var search_term = (query) ? query.s : ''
            input(type="search",name="s",autofocus="true",placeholder="Search",value=search_term).form-control
            .input-group-append
              button(type="submit").btn.btn-primary
                +icon('search')

        .collapse.navbar-collapse.ml-2.d-flex
          .navbar-nav.mr-auto.flex-row
            a.nav-item.nav-link(href=pageURL+'/home?admin=1',login-show).d-none Internal
            a.nav-item.nav-link(href=pageURL+'/schema') Schema
            a.nav-item.nav-link(href=pageURL+'/download') Download
            a.nav-item.nav-link(href=pageURL+'/pending',login-show).d-none
              +icon('stream', 'Pending')
            a.nav-item.nav-link(href=pageURL+'/add/lexemes',login-show).d-none
              +icon('plus', 'Add')
          button.btn.btn-link(login-hide,onclick="GabraAPI.login()")
            +icon('user', 'Login')
          button.btn.btn-link(login-show,disabled).d-none
            +icon('user')
            span(login-username).ml-1
          button.btn.btn-link(onclick="GabraAPI.toggleTheme()")
            +icon('adjust')

    block container
