extends layout

block content

  h3(style="display:inline-block") Logs
  nav(style="display:inline-block; vertical-align:middle; margin-left:1em")
    ul.pagination
      if page > 1
        li
          a(href="?page=1",aria-label="First")
            span(aria-hidden="true").glyphicon.glyphicon-step-backward
        li
          a(href="?page="+(page-1),aria-label="Previous")
            span(aria-hidden="true").glyphicon.glyphicon-backward
      - var page_from = Math.max(1, page - 2)
      - var page_to   = page_from + 5
      - var i = page_from
      while i < page_to
        if i == page
          li.active
            a(href="?page="+i)= i
        else
          li
            a(href="?page="+i)= i
        - i++
      li
        a(href="?page="+(page+1),aria-label="Next")
          span(aria-hidden="true").glyphicon.glyphicon-forward

  if page == 1
    script(src="https://www.google.com/jsapi")
    script.
      google.load('visualization', '1.0', {'packages':['corechart']})
      google.setOnLoadCallback(function () {
      
        $.ajax({
          method: 'GET',
          url: GabraAPI.baseURL + '/logs/chart',
          success: function (data) {
            var table = new google.visualization.DataTable()
            table.addColumn('date', 'Date')
              
            // Just totals
            table.addColumn('number', 'Updates')
            for (var day in data) {
              table.addRow([new Date(day), data[day]['total']])
            }
            
            // By user
            //- for (var day in data) {
            //-   for (var user in data[day])
            //-     table.addColumn('number', user)
            //-   break
            //- }
            //- for (var day in data) {
            //-   var arr = [new Date(day)]
            //-   for (var user in data[day]) {
            //-     arr.push(data[day][user])
            //-   }
            //-   table.addRow(arr)
            //- }
            
            var options = {
              legend: {position: 'top'},
              height: 150
            }
            var chart = new google.visualization.AreaChart(document.getElementById('chart'))
            chart.draw(table, options)
          },
          error: function (err) {
          
          },
          complete: function () {
          }
        })

      })
    div#chart(style="background:url(#{baseURL}/images/ajax-loader.gif) no-repeat center top; min-height:24px; margin-bottom:20px;")
              
  table.table.table-striped.table-condensed.table-hover
    thead
      tr
        th Date
        th User
        th Type
        th ID
        th Action
        th Label
    tbody
      for item in data
        tr
          td= item.date
          td= item.username
          td= item.collection
          td= item.object_id
          td= item.action
          td
            if item.collection === 'lexemes'
              if item.new_value
                a(href="#{baseURL}/lexemes/view/" + item.object_id)= item.new_value.lemma
              else
                | -
            else if item.collection === 'wordforms'
              if item.new_value
                a(href="#{baseURL}/lexemes/view/" + item.new_value.lexeme_id)= item.new_value.surface_form
              else
                | -
            //- collection is never roots...
