extends layout-fluid

block content
  #app
    h3
      span(v-if="!lexemeID")
        | Results:
        span.badge.badge-secondary.badge-pill.ml-2
          | {{ resultCount }}
      a.btn.btn-success.btn-sm.ml-2(title="Add lexeme",href=baseURL+"/lexemes/add/",v-if="loggedIn")
        +icon('plus', 'Add')

    div.d-flex.border-bottom.my-2.py-2.small(v-for="item,ix in results",v-bind:key="ix")
      //- Number and buttons
      div.flex-shrink-1.d-flex.flex-column.mr-2
        div.badge.badge-secondary.py-1.font-size-100(v-if="!lexemeID")
          | {{ ix+1 }}
        div.d-flex.flex-column.mt-1
          a.btn.btn-link.btn-xs(title="Link",v-bind:href=`'${baseURL}/search?id=' + item.lexeme._id`,v-if="!lexemeID")
            +icon('link')
          template(v-if="loggedIn")
            a.btn.btn-outline-info.border-0.btn-xs(title="History",v-bind:href=`'${baseURL}/lexemes/history/' + item.lexeme._id`)
              +icon('history')
            a.btn.btn-outline-warning.border-0.btn-xs(title="Edit",v-bind:href=`'${baseURL}/lexemes/edit/' + item.lexeme._id`)
              +icon('pen')
            button.btn.btn-outline-danger.border-0.btn-xs(title="Delete",v-on:click="deleteLexeme(item.lexeme._id)")
              +icon('times')

      //- Lexeme
      div.d-flex.mr-3
        table.table.table-sm.d-block
          tr(v-for="val,field in item.lexeme",v-bind:key="field")
            th
              | {{ field }}
            td.text-pre-wrap.overflow-auto(v-bind:class="{ 'font-weight-bold': field === 'lemma' }")
              | {{ JSON.stringify(val, null, field === 'glosses' ? 4 : null) }}

      //- Wordforms
      div.w-100.overflow-auto
        table.table.table-sm.table-hover(v-if="item.wordforms")
          thead
            tr
              th(v-if="loggedIn").text-nowrap
                a.btn.btn-success.border-0.btn-xs(title="Add wordform",v-bind:href=`'${baseURL}/wordforms/add/' + item.lexeme._id`)
                  +icon('plus')
                a.btn.btn-primary.border-0.btn-xs.ml-1(title="Generate",v-bind:href=`'${baseURL}/wordforms/generate/' + item.lexeme._id`)
                  +icon('cog')
                a.btn.btn-warning.border-0.btn-xs.ml-1(title="Bulk replace",v-bind:href=`'${baseURL}/wordforms/replace/' + item.lexeme._id`)
                  +icon('retweet')
              th(v-for="field,ix in item.wordformFields", v-bind:key="ix").text-nowrap
                | {{ field }}
          tbody
            tr(v-if="item.wordforms.length === 0")
              td.font-italic.text-black-50 No wordforms
            tr(v-for="wf, ix in item.wordforms", v-bind:key="ix")
              td(v-if="loggedIn").text-nowrap
                a.btn.btn-outline-info.border-0.btn-xs(title="History",v-bind:href=`'${baseURL}/wordforms/history/' + wf._id`)
                  +icon('history')
                a.btn.btn-outline-warning.border-0.btn-xs.ml-1(title="Edit",v-bind:href=`'${baseURL}/wordforms/edit/' + wf._id`)
                  +icon('pen')
                button.btn.btn-outline-danger.border-0.btn-xs(title="Delete",v-on:click="deleteWordform(wf.lexeme_id, wf._id)")
                  +icon('times')
              td.overflow-auto.text-truncate(v-for="field,ix in item.wordformFields", v-bind:key="ix", v-bind:class="{ 'font-weight-bold': field === 'surface_form' }")
                | {{ JSON.stringify(wf[field]) }}
        
    //- Loader
    .text-center.my-5
      i.fas.fa-circle-notch.fa-2x.fa-spin.text-danger(v-show="working")
      button.btn.btn-primary(v-show="!working && moreResults") Load more results

  +vue()
  script(src=baseURL+"/javascripts/search.js")
