extends layout

block content
  
  style.
    #editor h3 { margin-top:0; }
    input.highlight {
      background-color: #fcf8e3; /* bootstrap tr.warning */
    }
    #editor input,
    #editor select,
    #editor textarea {
      display: inline-block;
      width: auto;
      min-width: 15em;
    }
    #editor .form-group label {
      display: inline-block;
      width: 9em;
      vertical-align: middle;
    }
    #editor .help-block {
      margin-left: 9.5em;
    }

  div.container
    div.col-sm-4
      h2 Lexeme 
        button#btn-history-lexeme(type="button").btn.btn-xs.btn-info
          +icon('time', 'History')
        | 
        button#btn-edit-lexeme(type="button").btn.btn-xs.btn-warning
          +icon('pencil', 'Edit')
        | 
        button#btn-delete-lexeme(type="button").btn.btn-xs.btn-danger
          +icon('remove', 'Delete')
        | 
        +loader('lexeme')
      div#view-lexeme
      if id
        a(href=gabraURL+'/lexemes/view/' + id).btn.btn-xs.btn-link
          +icon('new-window', 'View on Ġabra')
      
    div.col-sm-8
      h2 Wordforms 
        button#btn-add-wordform(type="button").btn.btn-xs.btn-success
          +icon('plus', 'Add')
        | 
        button#btn-generate(type="button").btn.btn-xs.btn-success
          +icon('cog', 'Generate')
        | 
        button#btn-bulk-replace(type="button").btn.btn-xs.btn-warning
          +icon('pencil', 'Bulk replace')
        | 
        +loader('wordforms')
      div#view-wordforms

  div.modal#history-modal
    div.modal-dialog.modal-lg
      div.modal-content
        div.modal-header
          button(type="button",class="close",data-dismiss="modal",aria-label="Close")
            span(aria-hidden="true") &times;
          h4.modal-title
          small.text-muted Note: direct edits to the database are not recording in the history.
        div.modal-body
          div#history
        div.modal-footer
          +loader('history')

  div.modal#editor-modal
    div.modal-dialog
      div.modal-content
        div.modal-header
          button(type="button",class="close",data-dismiss="modal",aria-label="Close")
            span(aria-hidden="true") &times;
          h4.modal-title
        div.modal-body
          div#editor
        div.modal-footer
          +loader('editor')
          | 
          button(type="button",class="btn btn-primary")#btn-editor-save Save changes

  div.modal#replace-modal
    div.modal-dialog
      div.modal-content
        div.modal-header
          button(type="button",class="close",data-dismiss="modal",aria-label="Close")
            span(aria-hidden="true") &times;
          h4.modal-title Bulk replace surface forms 
            +loader('replace')
        div.modal-body
          form.form-horizontal
            div.form-group
              label(for="input-replace-search").col-sm-2.control-label Search
              div.col-sm-10
                input(type="text").form-control#input-replace-search
                span.help-block String or regular expression
            div.form-group
              label(for="input-replace-search").col-sm-2.control-label Replace
              div.col-sm-10
                input(type="text").form-control#input-replace-replace
            div.form-group
              div.col-sm-offset-2.col-sm-10
                .button(type="button").btn.btn-primary#btn-replace-test Test
                .button(type="button").btn.btn-warning#btn-replace-commit.disabled
                  +icon('flash', 'Commit')
                .button(type="button").btn.btn-default#btn-replace-clear Clear
          div#replace-results

  div.modal#generate-modal
    div.modal-dialog
      div.modal-content
        div.modal-header
          button(type="button",class="close",data-dismiss="modal",aria-label="Close")
            span(aria-hidden="true") &times;
          h4.modal-title Generate word forms 
            +loader('generate')
        div.modal-body
          form.form-horizontal
            div.form-group
              label(for="input-generate-paradigm").col-sm-2.control-label Paradigm
              div.col-sm-10
                select.form-control#input-generate-paradigm
                  option(value="loan-verb") Loan verb
                  option(value="adjective") Adjective
            div.form-group
              div.col-sm-offset-2.col-sm-10
                .button(type="button").btn.btn-primary#btn-generate-test Test
                .button(type="button").btn.btn-warning#btn-generate-commit.disabled
                  +icon('flash', 'Commit')
          div#generate-results

  script.
    var globals = {
      schemas: !{schemas},
      lexeme_id: "#{id}"
    }
    
  script(src=baseURL+'/module/json-editor/dist/jsoneditor.min.js',defer)
  script(src=baseURL+'/javascripts/json-pretty.js',defer)
  script(src=baseURL+"/javascripts/view.js",defer)
